@import config  // make sure import config first
@import palette
@import posts
@import code


{$contentClass}
  word-wrap: break-word;
  // set style of links (except buttons, chips and list items)
  a
    //border-bottom: dotted 1px;
    //text-decoration: underline;
    //color: $primaryColor-transparent;

    //&:hover
    //  color: $primaryColor;

    &.v-btn, &.v-list-item, &.v-chip, &.post-entry
      text-decoration: none;


.bottom-tips
  color-grey()
  text-align: center;
  font-size: 14px;


#app-bar-title
  color-white-with-shadow()
  padding-left: 20px;
  overflow: visible;

.post-entry-card-title
  color-white-with-shadow()
  font-size: 32px !important;
  line-height: 40px !important;

.post-entry-card-subtitle
  color-white-with-shadow()

.post-summary
  *
    margin: 0 !important