$color-primary = #2196F3
$color-primary-transparent = rgba(25, 118, 210, 0.8)
$color-primary-dark = #1976D2
/*
    'base': #2196F3,
    'lighten-5': #E3F2FD,
    'lighten-4': #BBDEFB,
    'lighten-3': #90CAF9,
    'lighten-2': #64B5F6,
    'lighten-1': #42A5F5,
    'darken-1': #1E88E5,
    'darken-2': #1976D2,
    'darken-3': #1565C0,
    'darken-4': #0D47A1,
    'accent-1': #82B1FF,
    'accent-2': #448AFF,
    'accent-3': #2979FF,
    'accent-4': #2962FF
*/

color-grey()
  .theme--light &
    color: rgba(0, 0, 0, 0.4);

  .theme--dark &
    color: rgba(255, 255, 255, 0.4);


color-white-with-shadow()
  color: #fafafa;
  text-shadow: #444 1px 1px 8px;