// colors
$primaryColor = $lightPrimaryColor
$darkPrimaryColor = #1976D2
$lightPrimaryColor = #2196F3
$transparentPrimaryColor = rgba(25, 118, 210, 0.8)

$darkGreyColor = rgba(255, 255, 255, 0.4);
$lightGreyColor = rgba(0, 0, 0, 0.4);

$textColor = $darkTextColor
$lightTextColor = #c9d1d9
$darkTextColor = #24292e

// https://stylus-lang.com/docs/mixins.html
color-grey()
  .theme--light &
    color: $lightGreyColor
  .theme--dark &
    color: $darkGreyColor


color-white-with-shadow()
  color: #fafafa;
  text-shadow: #444 1px 1px 8px;
